body {
    font-family: sans-serif;
    margin: 40px;
    background-color: rgb(255 253 208);
    transition: background-color 0.5s ease;
    
    
}

.container {
   margin-top:3em;
   display:grid;
   grid-template-columns: 1fr 1fr;
   
   position: relative;
   
}
.description {
   
   margin-left: 2em;
}
.title {
   font-size: 1.5em;
}
.years {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 1em;
   margin-bottom:2em ;
}
.dots {
   position:relative;
   margin-top:2em;
   height: 30px;
   width: 30px;
   border-radius: 60%; 
   cursor: pointer;
}
.dots::after {
   position:absolute;
   content: "";
   height: 35px;
   width: 35px;
   border-radius: 60%;
   border: 1px solid gray;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50% )
}
.red {
   background-color: #ff0000;
}
.white {
   background-color:mintcream ;
}
.auqa {
   background-color: #00A398;
}
.names {
    margin-top: 10em;
    margin-right: 10em;
 }

.image img {
   width: 380px;
   height: 380px;
   border:solid black;
}
 h1{
    text-align:center;
    color: rgb(19, 1, 2);
 }
 .page1header {
   font-size: 45px;
   font-family: 'Times New Roman', Times, serif;
 }

 button{
    padding: 10px 20px;
    border:solid transparent;
    background-color: #00A398;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    font-family:Tahoma ;
    font-weight: bold;
    font-style: italic;
    border-width: 2px;
    
    
    
    
    
    
 }

 a {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(229, 28, 36);
    
 }

 p  { color: rgb(24, 2, 3);
    font-size: 25px;
    
   }


h2 {
    color: rgb(190, 15, 15);
}

.bright:hover {
   color:#09d6c9;
   border:solid black;
   border-width: 2px;
   
}
.homebutton {
   border:solid transparent;
   border-radius: 20%;
   
   
  
}
.homebutton:hover {
   border-color: bisque;
}
/*.align {
   display: flex;
   justify-content: left;
   align-items: center;
   margin-left: 0;
   align-self:left;
   
}*/
@view-transition {
    navigation: auto;
  }
  .page2header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}


   

.menuu button {
   background-color:rgb(229, 28, 36);
   width: 50px;
   height:50px;
   padding:0;
   cursor: pointer;
   display:flex;
   justify-content:center;
   align-items: center;
   border: none;


}.menuu {
   display:block;
   margin-left: 85%;
   right: 55px;
   align-items: center;
   position: absolute;
   top: 30px;
}
.menuu button img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.menuu a {
   display: block;
   color: black;
   text-decoration: none;
   padding: 10px 15px;
}

.menuu .inside {
   display: none;
   position:absolute;
   background-color: bisque;
   min-width: 100px;
   box-shadow: 2px 2px 5px black;
}
.menuu:hover .inside {
   display:block;
}

.menuu:hover button{
   background-color: rgb(180, 16,0);
}
.menuu a:hover {
   background-color: rgb(167, 156, 142);
}


